[submodule "python/duplicate_check"]
	path = python/duplicate_check
	url = https://gist.github.com/06keito/1accfb439641ed6d10154bcd8ba2e452
[submodule "ubuntu/ubuntu_package_update"]
	path = ubuntu/ubuntu_package_update
	url = https://gist.github.com/06keito/6af6fb73a45baaabe7f8772b7f8d5e66
[submodule "python/argparse_template"]
	path = python/argparse_template
	url = https://gist.github.com/06keito/9abd51246fffb4079e0f384fe7b10ac6
[submodule "python/diceroll"]
	path = python/diceroll
	url = https://gist.github.com/06keito/aa3882447f85bd5248c5585b7aab3ae0
[submodule "powershell/pip_update"]
	path = powershell/pip_update
	url = https://gist.github.com/06keito/fbbcfd614b5cb4eff5bf21bd07a8c9e7
[submodule "python/gaming_picture"]
	path = python/gaming_picture
	url = https://gist.github.com/06keito/43d83af1bdac61d1c4cfac3292ca8978
